# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2f91357f67882bc1775aa2b81f56c7ad78820681b881188a42368691cc4348812a6995f2a7e131f8912b7ef86a0405455226415a333daa6dbab0c3275629dbd2

test:
  secret_key_base: 9a748b413b298dd38607b06b09bfce2f41e7927be2092c9310e40d9d04d742fe7c74567910d9991036ed46c26393dbf199aa65bfa7a14a03e091f3ff1d31d17e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
